* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8); 
    z-index: 100; 
    backdrop-filter: blur(5px);
    padding: .5rem 0;
  }
  
  .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; 
  }
  
  .logo-container {
    margin-left: 10em;
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    margin-right: 10em;
    display: flex;
    align-items: center;
  }
  .nav-links a.active,
.nav-links a:hover {
  color: #ffcc00;
}
  nav ul {
    list-style-type: none;
    display: flex;
  }
  .nav-links a.active:hover {
    color: inherit; /* Reset color to default */
    /* Add any other necessary reset styles */
  }
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffcc00; 
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  
  main {
    padding-top: 80px;
  }
  
  section {
    margin: 2rem auto;
    max-width: 80%; 
    border: 1px solid white;
    height: 35em;
  }
  
  footer {
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .head-container {
      padding: 0 10px; /* Adjust padding for smaller screens */
    }
  
    .logo-container {
      margin-left: 0; /* Reset margin for smaller screens */
    }
  
    .nav-links {
      margin-right: 0; /* Reset margin for smaller screens */
      margin-top: 10px; /* Add top margin for spacing */
      overflow-x: auto; /* Allow horizontal scrolling if needed */
      white-space: nowrap; /* Prevent links from wrapping */
    }
  
    nav ul li {
      margin-right: 10px; /* Add right margin to each list item */
    }
  
    /* Adjust other styles as needed */
  }